{#
		BrugereController

	  Systemadministrators indgang til Brugerhåndtering

	  Opstartsbilledet er en liste over samtlige brugere
	  - Med mulighed for at tilføje, redigere og fjerne brugere.

#}


{% extends 'base.html.twig' %}

{% block title %}Hello BrugereController!{% endblock %}

{% block body %}

  <div class="container">
    <div class="card max-width=800px">
      <div class=card-body>
      <h3 class="card-title alert alert-success text-center">Brugerhåndtering</h3>
	    {% for user in brugere %}
        <li>{{ user.username|e }} - {{ user.navn }} - {{ user.email }} - {{ user.oprettet.date }} - {{ user.isActive }}</li>
    {% endfor %}
    
                <a href="{{ path('brugerregistrering') }}" class="card-link">Ny</a>
    <a href="#" class="card-link">Hjælp</a>
 

      </div>
	</div>
  </div>
{% endblock %}
