{#
		Lader Brugeren vælge mellem de Afsnit som han har adgang til..
#}

{% extends 'base.html.twig' %}


{% block title %}Inferno: Vælg afsnit{% endblock %}

{% block body %}

  <div class="container">
  <p></p>

    {{form_start(our_form)}}
    <div class="card">
      <div class="card-header alert alert-success">Vælg afsnit</div>
      <div class="card-body">
        <h5 class="card-title">Vælg afsnit</h5>
        {# % for afs in afsnitsliste % #}
        {% for i in 0..(afsnitsliste|length - 1) %}
          <div class"form-check>
          <input class="form-check-input" type="radio" value="{{ i }}" id="{{ i }}" name="index">
  				<label class="form-check-label" for="{{ i }}">
    					{{ afsnitsliste[i].navn }}
  				</label>
  				</div>
  			{% endfor %}
      {{form_rest(our_form)}}
      {{form_end(our_form)}}

      </div>
    </div
  </div>

{% endblock %}
