{#
		Bruger registrering


#}


{% extends 'base.html.twig' %}

{% block title %}Ny bruger{% endblock %}

{% block body %}



  <div class="container">
		<p>
			<h1>Brugerregistrering</h1>
		</p>

		{{ form_start(form) }}

    	{{ form_row(form.username) }}
    	{{ form_row(form.navn) }}
    	{{ form_row(form.email) }}
    	{{ form_row(form.plainPassword.first) }}
    	{{ form_row(form.plainPassword.second) }}

    	<button type="submit">Register!</button>
		{{ form_end(form) }}

	</div>

{% endblock %}
