{#
		Bruger registrering


#}


{% extends 'base.html.twig' %}

{% block title %}Ny bruger{% endblock %}

{% block body %}



  <div class="container">
    <div class="card">
      <div class="card-body">
	    <h1 class="card-title alert alert-success text-center">Brugerregistrering</h1>


		{{ form_start(form) }}

    	{{ form_row(form.username) }}
    	{{ form_row(form.navn) }}
    	{{ form_row(form.email) }}
    	{{ form_row(form.plainPassword.first) }}
    	{{ form_row(form.plainPassword.second) }}

    	<button type="submit">Register!</button>
		{{ form_end(form) }}

      </div>
    </div>
  </div>

{% endblock %}
