{#
		Afsnit

		- Oversigtsbillede over det aktuelle afsnit med senge, patienter og anamnese
#}

{% extends 'base.html.twig' %}

{% block title %}Inferno: {% endblock %}

{% block body %}

  <div class="container">
    <h1 class="text-center">{{ afsnit.navn }}</h1>
    <div class="row text-center">
      <div class="col-md-3 bg-light">
        <h6 class="alert alert-success text-left">Patient Oversigt</h6>

				<!-- div class="nav nav-pills nav-fill flex-column bg-light" -->
				<div class="row ">
         	{% for key,item in indlagte %}
         	  <div class="col-sm-2>"
						<a class="disabled text-left" href="#">{{ key }}</a>
						</div>
						<div class="col-sm-10">
						{% if item %}
 							<a class= "text-left" href="{{ url('ny_note') }}">{{ item }}</a>
 						{% endif %}
 						</div>

         	{% endfor %}
        </div>
        <!-- /div -->

    	</div>
    	<div class="col-md-9">
			  <h6 class="alert alert-info text-left">CPR: 011244-2048 - Navn: Tove Jensen - Afd: A1</h6>
    	<form class="row">
    	    {% for key,item in mydata %}
         <!-- div class= "form-group" -->
        <div class="col-sm-2 text-right">
             <label for="{{ key }}">{{ key }}</label>
           </div>
           <div class="col-sm-10">
              <textarea class="form-control" id="{{ key }}" inputstl rows="1">{{item}}</textarea>
					 </div>
         <!-- /div -->
    {% endfor %}
     </form>

      		<p>Her står en tekst omkring relevante patient</p>

					<a class="btn btn-primary" role="button" href="">Indlæg ny</a>


    	</div>
  	</div>
	</div>

{% endblock %}
