{#
			Skabelon til redigering af Noter

#}

{% extends 'base.html.twig' %}

{% block title %}Hello NyNoteController!{% endblock %}

{% block body %}

	<h1>Note Note</h1>
  <div class="container">
  <div class="row">
    {{ form_start(our_form) }}

    {% set mydata = app.session.get('mydata') %}
    {% for key,item in mydata %}
         <!-- div class= "form-group" -->
        <div class="">
             <label for="{{ key }}">{{ key }}</label>
           </div>
           <div class="">
              <textarea class="form-control bg-dark " id="{{ key }}" inputstl rows="5">{{item}}</textarea>
					 </div>
         <!-- /div -->
    {% endfor %}

    <input type="submit" value="Send" class="btn btn-success" />
    {{ form_widget(our_form) }}

				{{ form_rest(our_form) }}
      {{ form_end(our_form) }}

  </div>
  </div>

{% endblock %}
