{#
    Note
#}


{% extends 'base.html.twig' %}

{% block title %}Hello NoteController!{% endblock %}

{% block body %}

<style id="compiled-css" type="text/css">
      textarea.textarea-autosize {
  height: 2.25rem;
  min-height: 2.25rem;
  resize: none;
  overflow-y:hidden;
}

textarea.textarea-autosize.form-control-lg {
  height: 3.75rem;
  min-height: 3.75rem;
}

textarea.textarea-autosize.form-control-sm {
  height: 2rem;
  min-height: 2rem;
}

  </style>

  <div class="container-xl">
  <h1 class="text-center">{{ afsnit.navn }}</h1>
    <div class="card">
      <div class="card-body">
		    <h6 class="card-title alert alert-info text-left">
		      CPR: {{ admission.getPatient().getCprN() }} - Navn: {{ admission.getPatient().getNavn() }} - Afd: A1
		    </h6>

        {{ form_start(form) }}

              	  {% for key1,item1 in noter %}
                  <div class= "form-group form-row">
                    <div class="col-sm-2 text-right font-weight-bold">
                      <label for="{{ key1 }}" class="form-label">{{ key1 }}:</label>
                    </div>
                    <div class="col-sm-10 text-left">
                      <textarea class="form-control" name="{{ key1 }}" rows="1" spellcheck=true id="{{ key1 }}" required>{{ item1 }}</textarea>
					          </div>
                  </div>
                {% endfor %}

{#
                  <div class= "form-group form-row">
                    <div class="col-sm-2 text-right font-weight-bold">
                      {{ form_label(form.Anamnese) }}:

                    </div>
                    <div class="col-sm-10 text-left">
                      {{ form_widget(form.Anamnese) }}
					          </div>
                  </div>
                  <div class= "form-group form-row">
                    <div class="col-sm-2 text-right font-weight-bold">
                      {{ form_label(form.Card) }}:
                    </div>
                    <div class="col-sm-10 text-left">
                      {{ form_widget(form.Card, {'attr': {'rows': 1 }}) }}
					          </div>
                  </div>
#}
        <button type="submit" class="btn btn-primary">Submit</button>


        {{ form_rest(form) }}
        {{ form_end(form) }}


      </div>
    </div>
  </div>



{% endblock %}
