<!DOCTYPE html>
<html lang="da">
	<head>

    	<!-- Nødvendige Meta Tags -->

		<meta charset="UTF-8">
		<meta name="description" content="Informationssystem til Intensiv Terapi">
    <meta name="keywords" content="Intensiv terapi, Intensive care, Lægeligt værktøj, Vagtoverdragelse, Journal, Hjerneprotese">
    <meta name="author" content="Michael Lindhardt Rasmussen">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}

			<!-- Vi benytter os af Bootstrap - og her med Cerulean temaet -->

		  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cerulean/bootstrap.min.css" rel="stylesheet"
		        integrity="sha384-LV/SIoc08vbV9CCeAwiz7RJZMI5YntsH8rGov0Y2nysmepqMWVvJqds6y0RaxIXT"
		        crossorigin="anonymous">

    {% endblock %}


        <title>{% block title %}Inferno - Lægeligt Vagtoverdragelses Værktøj{% endblock %}</title>

    </head>

    <body>

		<!-- NAVBAR Start under revision -->
    <!-- Programmets Hovedmenu

    		 Navbar er kun til skærm (Skjules under udprint !!)
    -->


    <nav class="navbar navbar-expand-sm navbar-dark bg-dark d-print-none">
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>

   		<!-- Selve menu strukturen -->

    	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<!-- a class="navbar-brand" href="{{ path('ita_document') }}">Inferno</a -->
				<a class="navbar-brand" href="https://github.com/filicis/inferno">Inferno</a>

        <!-- div class="collapse navbar-collapse" -->
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ path('ita_document') }}">Hello Page</a>
            <a class="nav-item nav-link" href="{{ path('afsnit') }}">Afsnit</a>
            <a class="nav-item nav-link" href="{{ path('ny_note') }}">Ny note</a>
            <a class="nav-item nav-link" href="{{ path('patient') }}">Ny patient</a>
            <a class="nav-item nav-link" href="{{ path('selectafsnit') }}">Vælg Afsnit</a>
		    		<a class="nav-item nav-link" href="{{ path('udprint') }}">Print</a>

							<!-- Dropdown menuen 'Indstillinger' -->

		    		<div class="nav-item dropdown">
		    		  <a class="nav-link dropdown-toggle"
		    		     role="button"
		    		     id="navbarDropdown"
		    		     data-toggle="dropdown"
		    		     href="#"
		    		     aria-haspopup="true"
		    		     aria-expanded="false">Indstillinger</a>
		    		  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            		<a class="dropdown-item" href="{{path('brugere')}}">Brugere</a>
            		<a class="dropdown-item" href="{{ path('afsnitsindstillinger') }}">Afsnit</a>
            		<div class="dropdown-divider"></div>
            		<a class="dropdown-item" href="#">Ikke Implementeret</a>
		    		  </div>

		    		</div>
          </div>
        <!-- /div -->
      </div>

	    <div class="navbar-expand d-flex flex-row-reverse" id="navbarNavAltMarkup">
	      <div class="navbar-nav mr-auto">
					{% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          	<span class="navbar-text"> {{ app.user.username }} </span>
            <a class="nav-item nav-link" href="{{ path('logout') }}">Logout</a>
					{% else %}
            <a class="nav-item nav-link" href="{{ path('login') }}">Login</a>
          {% endif %}

	      	</div>
	    	</div>
    	</div>
    </nav>

 		<main role="main" class="container-fluid main">

        {% block body %}{% endblock %}

 		</main>


    {% block javascripts %}

			<!-- Bootstrap relaterede scripts -->

			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
					integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
					crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
					integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
					crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
					integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
					crossorigin="anonymous"></script>



    {% endblock %}
	</body>
</html>
